<!DOCTYPE html>
<html>

<head>
    <title>MatchesPerYear</title>
    <link rel="stylesheet" type="text/css" href="/static/polls/test.css">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="/static/polls/test.js">
   
    </script>


</head>

<body>
    <!-- <nav>
        <div>
            <div><h2>Matches Played Per Year</h2></div>
            <div><h2>Matches Won By each Team In Each Season</h2></div>
            <div></div>
            <div></div>
        </div>
    </nav> -->
        <div id="container">
            <script>
                
                console.log({{xAxisData | safe}})
                console.log({{yAxisData | safe}})
                Highcharts.chart("container", plotMatchesPerYear({{xdata|safe}}, {{ydata|safe}}))    
            </script>
    
    </div>

</body>

</html>