<!DOCTYPE html>
<html>

<head>
    <title>MatchesPerYear</title>
    <link rel="stylesheet" type="text/css" href="/static/polls/test.css">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="/static/polls/test.js">
   
    </script>


</head>

<body>
        <div id="container">
            <script>
                
                console.log({{xAxisData|safe}})
                console.log({{yAxisData|safe}})
                console.log({{teams|safe}})
                Highcharts.chart("container",plotMatchesWonByTeam({{xAxisData|safe}},{{yAxisData|safe}},{{teams|safe}}))    
            </script>
    
    </div>

</body>

</html>